{
  "allow_write_examples": false,
  "playlist_id": null,
  "user_id": null,
  "playlist_name": "spotapi example playlist",
  "playlist_description": "Created by spotapi example code",
  "playlist_cover_jpeg": null,
  "track_uri": "spotify:track:11dFghVXANMlKmJXsNCbNl"
}
